*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* prmary-area start */

.primary-title{
    font-size: 40px;
    color: brown;
}
.primary-des{
    padding-top: 20px;
    font-size: 16px;
}
/* primary-ara end */



/* feature start */

.feature-main-container{
    width: 1400px;
   height: 1000px;
   margin: 0 auto;
}
.feature-header{
    padding-top: 20px;
    text-align: center;
}
/* feature end */

/* fearure box start */
.feature-container{
    width: 100%;
}
.feature-containers{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding:30px;
}
.feature-box{
    opacity: 100%;
    margin-top: 40px;
    border: none;
    border-radius: 300px  300px 0px 0px;
    height: 500px;
    margin: 0 auto;
    width: 500px;
    padding: 20px 20px 0px 20px;
    height: 500px;
    background: rgba(167, 33, 98, 0.15);
}
.feature-box img{
    padding: 30px 0px 0px 50px ;
    width: 80%;
    height: 100%;
}

/* feature box end */

/* icon-container start*/

.icon-container{

    margin-top: 30px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.icon-box{
    padding-top: 20px;


    text-align: center;
    width: 200px;
    height: 200px;
}

/* icon container end */