@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* prmary-area start */

.primary-title{
    font-size: 40px;
    color: brown;
}
.primary-des{
    padding-top: 20px;
    font-size: 14px;
}
.primary-btn{
    background-color: rgb(231, 9, 83);
    padding: 15px 25px 15px 25px;
    border: none;
    color: #ffffff;
    border-radius: 30px;
}

/* primary-ara end */

/* hero part start */
.hero-main-container{
    width: 100%;
    height: 500px;
    padding-top: 20px;
    background: rgba(229, 84, 115, 0.10);
}
.hero-container{
    width: 1140px;
    height: 100%;
    background-image: url("./img/Union.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.hero-container .hero-left-content img{
    position: absolute;
    top: 50%;
    right: 25%;
    width: 10%;
}
.hero-left-content{
    width: 50%;

}
.hero-left-content h2{
    color: #272727;
    font-size: 50px;
    font-weight:800;
    font-style: italic;
}
.hero-left-content p{
    font-size: 10px;
    margin-top: 20px;
    white-space: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}
.hero-right{
   width: 50%;
}
/* hero part end */

/* feature start */

.feature-main-container{
    width: 1140px;
   height: 1000px;
   margin: 0 auto;
   margin-bottom: 30px;
}
.feature-header{
    padding-top: 20px;
    text-align: center;
}
/* feature end */

/* fearure box start */
.feature-containers{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.feature-box{
    margin-top: 40px;
    border: none;
    border-radius: 300px 300px 0px 0px ;
    padding: 20px 20px 0px 20px;  
     background: rgba(167, 33, 98, 0.15);
}
.feature-box img{
    padding: 30px 0px 0px 50px ;
    width: 80%;
    height: 100%;
}

/* feature box end */

/* icon-container start*/

.icon-container{

    margin-top: 100px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.icon-box{
    padding-top: 35px;
    border: 1px solid black;
    background-color: burlywood;
    text-align: center;
    width: 200px;
    height: 200px;
}

/* icon container end */

/* deal section start */

.deal-main-container{
    height: 600px;
    background: rgba(229, 84, 115, 0.05);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deal-container{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deal-left-content{
    width: 50%;
    padding: 20px;
    text-align: center;
    border-right: 1px solid black;
    margin-right: 20px;
}
.deal-left-content p{
    text-align: justify;
}
.deal-right-content{
    width: 50%;
}
.deal-right-content img{
    width: 70%;
    height: 100%;
}
.deal-title{
    font-size: 30px;
}
.deal-des{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}
/* deal section end */

/* shop section start */

.shop-main-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-container{
    width: 1140px;
    height: 400px;
    background-image: url("./img/technology.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
}
.shop-title{
    font-size: 40px;
    color: white;
}
.shop-des{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.shop-box{
    width: 700px;
    text-align: center;
}
form{
    text-align: center;
    display: flex;
    gap: 15px;
}
input[type=text]{
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    border:1px solid gray;
}
input[type=submit]{
    padding: 10px 20px;
    background-color: yellow;
    border:1px solid gray;
    border-radius: 5px;
    font-weight: 600;
}
/* shop section end */

/* footer start */
.footer-main-container{
    height: 400px;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer-container{
    text-align: center;
}

.footer-title{
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}
.footer-des{
    color: white;
    font-weight: 300;
    font-size: 14px;
}
.small-footer-area{
    opacity: 0.5;
    font-size: 12px;
    color: white;
    padding-top: 20px;
}
/* footer end */