@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* prmary-area start */

.primary-title{
    font-size: 40px;
    color: brown;
}
.primary-des{
    padding-top: 20px;
    font-size: 16px;
}
.primary-btn{
    background-color: rgb(231, 9, 83);
    padding: 15px 25px 15px 25px;
    border: none;
    color: #ffffff;
    border-radius: 30px;
}

/* primary-ara end */

/* hero part start */
.hero-main-container{
    height: 500px;
    padding-top: 20px;
    background: rgba(229, 84, 115, 0.10);
}
.hero-container{
    width: 1140px;
    height: 100%;
    background-image: url("./img/pngwing 10.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.hero-left{
    width: 50%;
}
.hero-left h2{
    color: #272727;
    font-size: 50px;
    font-weight:800;
    font-style: italic;
}
.hero-left p{
    font-size: 10px;
    margin-top: 20px;
    white-space: 15px;
    line-height: 30px
}
.hero-right{
    width: 50%;
}
/* hero part end */

/* feature start */

.feature-main-container{
    width: 1140px;
   height: 1000px;
   margin: 0 auto;
   margin-bottom: 30px;
}
.feature-header{
    padding-top: 20px;
    text-align: center;
}
/* feature end */

/* fearure box start */
.feature-container{
    width: 100%;
}
.feature-containers{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.feature-box{
    margin-top: 40px;
    border: none;
    border-radius: 300px 300px 0px 0px;
    padding: 20px 20px 0px 20px;  
     background: rgba(167, 33, 98, 0.15);
}
.feature-box img{
    padding: 30px 0px 0px 50px ;
    width: 80%;
    height: 100%;
}

/* feature box end */

/* icon-container start*/

.icon-container{

    margin-top: 100px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.icon-box{
    padding-top: 35px;


    text-align: center;
    width: 200px;
    height: 200px;
}

/* icon container end */

/* deal section start */

.deal-main-container{
    height: 600px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.deal-container{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.deal-left-content{
    width: 50%;
    padding: 20px;
    text-align: center;
}
.deal-right-content{
    text-align: left;

}
.deal-right-content img{
    width: 80%;
    height: 100%;
}
.deal-title{
    font-size: 30px;
}
.deal-des{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}
/* deal section end */
